@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --cor-primaria: #F6E8EA;
    --cor-secundaria: #5A0001;
    --cor-terciaria: #FFFFFF;
    --cor-quaternaria: #343A40;
    --cor-hover: #272727;

    --fonte: "Inter", sans-serif;
    --fonte-secundaria: 
}

*{
    background-color:none
}

.capa_home{
    height: 50%;
    width: 50%;
}

header{
    background-color: var(--cor-secundaria);
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-terciaria);
    padding: 0 2%;
}

.home_link_img{
    background-color: var(--cor-secundaria);
    height: 50%;
}

main{
    height: 80%
}

footer{
    background-color: var(--cor-secundaria);
    height: 10%;
    text-align: center;
    color: var(--cor-terciaria);
}