<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    {% endblock %}
    <title>
        {% block titulo %}
        Biblioteca Kinder
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}" class="home_link">
            <img src="static/assets/home.png" class="home_link_img">
        </a>
        <form method="POST" action="{{ url_for('pesquisa') }}">
            <input type="text" name="query" placeholder="Digite o nome ou palavras-chave" required>
            <button type="submit">Pesquisar</button>
        </form>
        {% if cargo == "admin" %}
        <a href="{{ url_for('criarconta') }}">
            <button>Adicionar Colaborador</button>
        </a>
        <a href="{{ url_for('adicionarlivro') }}">
            <button>Adicionar Livro</button>
        </a>
        {% endif %}
        <a href="/logout">Sair</a>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>