<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login_Biblioteca_Kinder</title>
</head>
<body>
    <main>
        <div class="login">
            <img class="login-logo" src="static/assets/logo_kinder.png">
            <p class="login-texto">Bem-Vindo</p>
            <form method="POST" class="login-form">
                {{ form.hidden_tag() }}
                
                {{ form.usuario(class="login-dados") }}

                {{ form.senha(class="login-dados") }}

                {{ form.botao_confirmacao(class="login-botao") }}

            </form>
        </div>
    </main>
</body>
</html>
